<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
  <a class="navbar-brand blue" routerLink='/activities'>Activity Manager</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav ml-auto">
	    <li class="nav item">
	      <a class="nav-link active blue" routerLink='/activities'>Activities</a>
	    </li>
	  </ul>
  </div>
</nav>
