<div style="margin-top:20px;padding-bottom: 20px;padding-top: 10px;margin-right: 20px;" class=" border border-info rounded">
	<div class="container">
		<form (keydown.enter)="$event.preventDefault()" [formGroup]='activityForm' (ngSubmit)='saveActivity()'>
		 <div class='form-group'>
		 	<label for='name'>Name</label>
		 	<input formControlName='name' type='text' class='form-control' id='name' placeholder='Name'>
		 </div>
		 <div class='form-group'>
		 	<label for='desc'>Description</label>
		 	<input formControlName='desc' type='text' class='form-control' id='desc' placeholder='Description'>
		 </div>
		 <div class='form-group'>
		 	<label for='place'>Place</label>
		 	<input 
			 	google-place 
			 	formControlName='place' 
			 	type='text' 
			 	class='google-place-input form-control' 
			 	id='place' 
			 	placeholder='Type to search..' 
			 	(onSelect)="setAddress($event)"
			 >
		 </div>
		 <div class='form-group'>
		 	<label for='price'>Price</label>
		 	<input formControlName='price' type='number' class='form-control' id='price' placeholder='Price'>
		 </div>
		 <button class='btn btn-primary' [disabled]='activityForm.invalid'>Save</button>
		 <button class='btn btn-secondary' [routerLink]="['../']" >Cancel</button>
		</form>
	</div>
</div>