<div *ngIf="activity" style="margin-top:20px;margin-right: 20px;" class=" border border-info rounded">
	<div class="row" style="margin-top: 10px;">
	  <h3 class="col-12 text-center">Name : {{ activity.name }} </h3>
	  <h5 class="col-12 text-center">Description : {{ activity.desc }}</h5>
	</div>
	<hr>
	<div class="row">
	  <p class="col-12 text-center"><b>Price : </b>{{ activity.price }} $</p>
	</div>
	<hr>
	<div class="row">
	  <p class="col-12 text-center"><b>Place : </b>{{ activity.place }} </p>
	</div>
	<div class='row' style="margin-top: 10px; margin-bottom: 10px;">
	  <button type='button' [routerLink] = 'getUrl()' class='ml-auto mr-auto btn btn-primary'>
	    Modify this activity
	  </button>
	  <button type='button' (click) = 'deleteActivity(activity)' class='ml-auto mr-auto btn btn-danger'>
	    Delete this activity
	  </button>
	</div>
</div>



