<h3 style="margin-top: 10px;" class="text-center blue">Activities :</h3>
<div class="container">
	<div class="list-group">
	  <div>
	  	<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
			<thead>
				  <tr>
				    <th>Name</th>
				    <th>Description</th>
				    <th>Place</th>
				    <th>Price</th>
				    <th>Actions</th>
				  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let activity of activities;let i=index;" (click)=pickActivity(i) [routerLink] = "i" routerLinkActive='active' style="cursor: pointer;z-index: -1;">
			    <td>{{ activity.name }}</td>
			    <td>{{ activity.desc }}</td>
			    <td>{{ activity.place }}</td>
			    <td>{{ activity.price }} $</td>
			    <td>
				  	<button type='button' (click) = 'deleteActivity(activity)' class='btn btn-danger'>
				    	<fa name="remove" ></fa>
				  	</button>
				</td>
			  </tr>
			</tbody>
		</table>
	  </div>
	</div>
	<div style="margin-top: 10px">
	  <button routerLink = 'new' class="btn btn-success col-12">
	    Add an activity
	  </button>
	</div>
</div>

